<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="student" class="com.jspider.practice1.Student">
		<property name="name" value="Guddu Pandit"></property>
		<property name="rollmo" value="D145"></property>
		<property name="division" value="D"></property>
		<property name="standard" value="10th"></property>
		<property name="address" value="Nigdi Pune"></property>
	</bean>
	
</beans>